
*{
	box-sizing: border-box;
	font-family: arial,sans-serif;
	margin: 0;
	
}
.section-title{
  text-align:center;
  color:#0b3b50;;
  margin-top:80px;
  padding-top: 20px;
  text-shadow: 2px 2px gray;
  text-transform:uppercase;
  font-weight: bold;

}

nav{
	display: flex;
	width: 100%;
	background-color: #0b3b50;
	justify-content: space-between;
	align-items: center;
	line-height: 1.5;
	box-shadow: 10px 10px 8px gray;
	padding: 20px 16px;
	position: fixed;
	top: 0;


}
.nav-links{
	list-style: none;
	display: flex;
	gap:5px;
	

}
nav a{
	text-decoration: none;
	color:#fff;
	padding: 8px 10px;
	transition: 200ms;
	margin-right:5px;
}
nav ul li a:hover,
nav ul li a:focus{
  background-color:#fff;
  color:#0b3b50;
  outline:2px solid #0b3b50;
}
.logo a{
	text-shadow: 2px 1px gray;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
	transition: 200ms;
    }

    .logo a:hover,
    .logo a:focus 
    {
	    outline:2px solid #0b3b50;
	   

    }


.container{
	background-color: gray;
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
	grid-auto-rows:300px;
	gap: 10px;
	height:auto;
	padding-top:5px;
	padding-bottom: 5px;


}
.item{
	background-color: #0b3b50;
	width: 100%;
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	color: white;
	border-radius: 8px;
	font-size: 16px;
	
	
}
.item img{
	width: 100%;
	max-width: 250px;
	border-radius: 8px;
	box-shadow: 5px 5px 4px burlywood;
	margin-bottom: 20px;

}
.buy-btn{
  margin-top:10px;
  padding:8px 15px;
  background:#fff;
  color:#0b3b50;
  border:none;
  border-radius:4px;
  cursor:pointer;
}


/*Resizing for smaller devices*/

@media(max-width: 580px){
	.logo a{
	font-size: 12px;
    }
	.nav-links a{
	font-size:12px;
	margin-right: 0;
	padding: 4px 4px;
  }
.item{
	font-size: 13px;
   }
} /*end for 580 viewport device*/


@media(max-width: 480px){
	.nav-links a{
	font-size:8px;
	margin-right: 0;
	padding: 4px 6px;
}
.item{
	font-size: 8px;
   }
}/*end for 480px viewport device*/

@media(max-width: 380px){
	.nav-links a{
	font-size:8px;
	margin-right: 0;
	padding: 4px 6px;
   }
   nav h1 a{
   	font-size: 6px;
   }
   .item{
	font-size: 8px;

    }
}/*end for380 viewport device*/

